@import '../../../styles/default.styles.scss';

.options {
	width: 100%;
	max-height: $md-default-height * 5;
	overflow-y: scroll;
	background-color: $md-input-background;

	position: absolute;
	z-index: 9999;
}