@import '../../styles/default.styles.scss';

.picker__options {
	width: 100%;
	max-height: $md-default-height * 5;

	background-color: $md-input-background;

	display: grid;
	grid-template-columns: 1fr 1fr;

	overflow: none;

	position: absolute;
	top: $md-default-height;

	&--hidden {
		display: none;
	}
}

.options {
	&__single {
		min-height: $md-default-height;
		padding: $md-default-padding;

		color: $md-text-base;
		text-align: center;
		line-height: $md-default-height;

		&:hover,
		&--selected {
			background-color: $md-line-in-white;
		}
	}

}