@import 'src/assets/styles/variables.scss';
@import 'src/assets/styles/font.styles.scss';

$md-default-height: 48px;
$md-default-padding: 0 8px;

:host {
	width: 100%;
	display: block;
}

.label {
	color: $md-text-in-primary;
}

.select {
	cursor: pointer;
	user-select: none;
	background-color: $md-input-background;
	position: relative;
}

.display {
	display: grid;
	grid-template-columns: 11fr 1fr;
	padding: $md-default-padding;

	font-size: 1.6rem;

	&__value,
	&__icon {
		color: $md-small-info;
		line-height: $md-default-height;
	}

	&__value {
		justify-self: start;
	}

	&__icon {
		justify-self: end;
	}
}

.options {
	&__single {
		min-height: $md-default-height;
		padding: $md-default-padding;

		color: $md-text-base;
		text-align: center;
		line-height: $md-default-height;

		border-left: transparent solid 4px;

		&:hover,
		&--selected {
			background-color: $md-line-in-white;
			border-left: $md-primary-lighter solid 4px;
		}
	}
}