<section class="home">
	<div class="container home__container">
		<div class="logo">
			<img class="logo__image" src="assets/images/logo.svg" alt="Proffy">
			<h2 class="logo__title">Sua plataforma de estudos online.</h2>
		</div>

		<img class="banner" src="assets/images/home.svg" alt="Plataforma de Estudos">

		<div class="buttons">
			<button class="button button--green button--large button--rounded" routerLink="study">
				<fa-icon class="button__icon" [icon]="['fas', 'book-open']"></fa-icon>
				Estudar
			</button>

			<button class="button button--purple button--large button--rounded" routerLink="study">
				<fa-icon class="button__icon" [icon]="['fas', 'chalkboard']"></fa-icon>
				Dar Aulas
			</button>
		</div>
	</div>
</section>
