$md-white: #FFFFFF;

$md-background: #F0F0F7;
$md-primary-lighter: #9871F5;
$md-primary-light: #916BEA;
$md-primary: #8257E5;
$md-primary-dark: #774DD6;
$md-primary-darker: #6842c2;
$md-secondary: #04D361;
$md-secondary-dark: #04BF58;
$md-title-in-primary: $md-white;
$md-text-in-primary: #D4C2FF;
$md-text-title: #32264D;
$md-text-complement: #9C98A6;
$md-text-base: #6A6180;
$md-line-in-white: #E6E6F0;
$md-input-background: #F8F8FC;
$md-button-text: $md-white;
$md-box-base: $md-white;
$md-box-footer: #FAFAFC;
$md-small-info: #C1BCCC;