#section_home {
    height: 100%;
    padding: 0 3%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1280px;
}

.logo {
    grid-area: logo;
    color: $md-text-in-primary;
}

.banner {
    width: 100%;
    grid-area: image;
    margin: 0 auto;
}

.button_wrapper {
    grid-area: button;
    color: $md-button-text;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 48px;

    #study {
        background-color: $md-primary-lighter;

        &:hover {
            background-color: $md-primary-light;
        }
    }

    #teach {
        background-color: $md-secondary;

        &:hover {
            background-color: $md-secondary-dark;
        }
    }

    .button {
        width: 100%;
        height: 100%;
        max-width: 250px;
        max-height: 75px;

        display: flex;
        align-items: center;
        justify-content: center;

        padding: 16px 24px;
        border-radius: 8px;

        cursor: pointer;

        &:first-of-type {
            margin-right: 16px;
        }

        &__icon {
            padding-right: 8px;
            font-size: 26.5px;
            vertical-align: middle;
        }
    }
}

@media screen and (min-width: 1280px) {
    
    .container {
        width: 90%;
        max-width: 1280px;
    
        display: grid;
        grid-template-columns: 2fr 1fr 2fr;
        grid-template-rows: 3fr 1fr;
        grid-template-areas: 'logo image image' 'button button text';
    }
}