<section id="section_home">
    <div class="container">
        <div class="logo">
            <img class="logo__image" src="assets/images/logo.svg" alt="Proffy">
            <h2 class="logo__title">Sua plataforma de estudos online.</h2>
        </div>

        <img class="banner" src="assets/images/home.svg" alt="Plataforma de Estudos">

        <div class="buttons">
            <a class="button button--study">
                <span class="button__icon material-icons-outlined">auto_stories</span>
                <span class="button__label">Estudar</span>
            </a>

            <a class="button button--teach">
                <span class="button__icon material-icons-outlined">assignment</span>
                <span class="button__label">Dar Aulas</span>
            </a>
        </div>
    </div>
</section>